*{
    --bg: #CAF0F8;
    --bg-container: #90CAF9;
    font-family: fantasy;
    --boxShadow : 3px 4px 10px 1px rgba(0,0,0,0.54)
    
}
body{
    background: var(--bg);
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

h1 {
        color: #012A4A;
        font-weight: 700;
        text-shadow: #ffba08 2px 2px 0px, #A9D6E5 4px 4px 0px, 2px 2px 2px rgba(1,42,74,0);
        letter-spacing: 0.2rem;
           
}
.form-container {
    box-shadow: var(--boxShadow);
    background: var(--bg-container);
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
}
.form-container .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.form-container .form-content input[type="number"] {
    background: #E3F2FD;
    width: 350px;
    height: 30px;
    padding:4px 10px 4px 10px;
    font-size: 20px;
    border-radius: 10px;
    margin: 15px auto;
    box-shadow: var(--boxShadow);
}
.form-container .form-content label {
    font-size: 22px;
    color: #023E7D;
    text-shadow: 2px 6px 5px rgba(2,62,125,0.37);
}
.form-container #form button{
    background: #ffba08;
    padding: 10px;
    border-radius: 13px;
    font-size: 16px;
    cursor: pointer;
    color: #023E7D;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    box-shadow: 2px 5px 18px -3px rgba(0,0,0,0.58);
    border: 0.02rem solid #012A4A;
    margin-bottom: 10px;
    transition: all 200 ease-in;
}
.form-container #form button:hover{
    background: #012A4A;
    color: #90CAF9;
}
.form-container #output {
    /* display: none; */
    border: 0.3rem solid #012A4A;
    padding: 10px;
}
.alert {
    color: rgb(196, 37, 37);
}
.hidden {
    display: none;
}
